<div class="box">
<h1>registration-details works!  </h1>
</div>
<form>
  <div class="col-6">
    <div>
      <input type="text" name="username" placeholder="enter your name">
    </div>
    <label>username</label>
  </div>
  <div>
    <input type="email" name="Email" placeholder="enter your mail id">
  </div>
  <label>Email:</label>
  <div class="col-6">
    <div>
      <input type="password" name="password" placeholder="enter password">
    </div>
    <label>Password:</label>
    <div>
      <input type="password" name="ConfirmPassword" placeholder="confirm your password">
    </div>
    <label>Confirm Your Password</label>
  </div>
</form>
